/* --- app/globals.css --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
}

/* Updated selector for dark mode */
:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

html, body {
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* Apply a custom dark gradient */
html.dark body {
  background-image: linear-gradient(to top, #2a0a37, #1a1a1a);
  background-color: transparent;
}

/* Ensure the app takes up at least the full viewport height */
#__next, main {
  min-height: 100vh;
}
